<md-card class="fit overflow-scroll">
  <md-tab-group [selectedIndex]="selectedInfoTab"
                [disableRipple]="true"
                [dynamicHeight]="true"
                (selectedIndexChange)="handleTabChange($event)">
    <md-tab label="Статья">
      <md-input-container class="full-width">
        <input mdInput
               title="Название статьи"
               placeholder="Название статьи"
               required
               [(ngModel)]="userArticle.title"
               (blur)="handleArticleChanges()"
               (keyup)="handleArticleChanges()"
               (paste)="handleArticleChanges()"
        >
      </md-input-container>
      <md-input-container class="fit overflow-scroll">
        <textarea title="Текст статьи" mdTextareaAutosize class="fit" placeholder="Текст статьи" required mdInput
                  (blur)="handleArticleChanges()"
                  (paste)="handleArticleChanges()"
                  (cut)="handleArticleChanges()"
                  (keyup)="handleArticleChanges()"
                  [(ngModel)]="userArticle.content"></textarea>
      </md-input-container>
    </md-tab>
    <md-tab label="Мета информация">
      <md-input-container class="full-width">
        <input mdInput
               title="Игрок белыми"
               placeholder="Игрок белыми"
               [(ngModel)]="userBoardBox.notation.whitePlayer"
               (blur)="handleBoardBoxChanges()"
               (keyup)="handleBoardBoxChanges()"
               (paste)="handleBoardBoxChanges()"
        >
      </md-input-container>
      <md-input-container class="full-width">
        <input mdInput
               title="Игрок чёрными"
               placeholder="Игрок чёрными"
               [(ngModel)]="userBoardBox.notation.blackPlayer"
               (blur)="handleBoardBoxChanges()"
               (keyup)="handleBoardBoxChanges()"
               (paste)="handleBoardBoxChanges()"
        >
      </md-input-container>
      <md-input-container class="full-width">
        <input mdInput
               title="Событие"
               placeholder="Событие"
               [(ngModel)]="userBoardBox.notation.event"
               (blur)="handleBoardBoxChanges()"
               (keyup)="handleBoardBoxChanges()"
               (paste)="handleBoardBoxChanges()"
        >
      </md-input-container>
      <md-input-container class="full-width">
        <input mdInput
               title="Место"
               placeholder="Место"
               [(ngModel)]="userBoardBox.notation.site"
               (blur)="handleBoardBoxChanges()"
               (keyup)="handleBoardBoxChanges()"
               (paste)="handleBoardBoxChanges()"
        >
      </md-input-container>
      <md-input-container class="full-width">
        <input mdInput
               title="Раунд"
               placeholder="Раунд"
               [(ngModel)]="userBoardBox.notation.round"
               (blur)="handleBoardBoxChanges()"
               (keyup)="handleBoardBoxChanges()"
               (paste)="handleBoardBoxChanges()"
        >
      </md-input-container>
      <!--<md-input-container class="full-width">-->
        <!--<input mdInput-->
               <!--[mdDatepicker]="picker"-->
               <!--title="Дата (дд/мм/гггг)"-->
               <!--placeholder="Дата (дд/мм/гггг)"-->
               <!--[(ngModel)]="userBoardBox.notation.date"-->
               <!--(blur)="handleBoardBoxChanges()"-->
               <!--(keyup)="handleBoardBoxChanges()"-->
               <!--(paste)="handleBoardBoxChanges()"-->
        <!--&gt;-->
        <!--<button mdSuffix [mdDatepickerToggle]="picker"></button>-->
        <!--<md-datepicker #picker-->
                       <!--(selectedChanged)="handleDateChange($event)"-->
        <!--&gt;</md-datepicker>-->
      <!--</md-input-container>-->
      <md-input-container class="full-width">
        <input mdInput
               title="Результат"
               placeholder="Результат"
               [(ngModel)]="userBoardBox.notation.result"
               (blur)="handleBoardBoxChanges()"
               (keyup)="handleBoardBoxChanges()"
               (paste)="handleBoardBoxChanges()"
        >
      </md-input-container>
      <md-input-container class="full-width">
        <input mdInput
               title="Тип игры"
               placeholder="Тип игры"
               [(ngModel)]="userBoardBox.notation.gameType"
               (blur)="handleBoardBoxChanges()"
               (keyup)="handleBoardBoxChanges()"
               (paste)="handleBoardBoxChanges()"
        >
      </md-input-container>
    </md-tab>
  </md-tab-group>
</md-card>
