<h1 md-dialog-title>Новая статья</h1>
<div md-dialog-content>
  <md-list>
    <md-list-item>
      <md-form-field class="full-width">
        <input mdInput tabindex="1" [(ngModel)]="data.article.title" placeholder="Название статьи">
      </md-form-field>
    </md-list-item>
    <md-list-item>
      <md-select class="full-width" [(ngModel)]="data.boardRequest.black" title="Цвет" placeholder="Цвет">
        <md-option [value]="false">Белые</md-option>
        <md-option [value]="true">Чёрные</md-option>
      </md-select>
    </md-list-item>
    <md-list-item>
      <md-select class="full-width" [(ngModel)]="data.boardRequest.rules" title="Правила" placeholder="Правила">
        <md-option [value]="'RUSSIAN'">Русские шашки</md-option>
        <md-option [value]="'RUSSIAN_GIVEAWAY'">Русские шашки (поддавки)</md-option>
        <md-option [value]="'INTERNATIONAL'">Интернациональные шашки</md-option>
        <md-option [value]="'INTERNATIONAL_GIVEAWAY'">Интернациональные шашки (поддавки)</md-option>
      </md-select>
    </md-list-item>
    <md-list-item>
      <md-checkbox [(ngModel)]="data.boardRequest.fillBoard">Расставить шашки</md-checkbox>
    </md-list-item>
  </md-list>
</div>
<div md-dialog-actions>
  <span class="fill-remaining-space"></span>
  <button md-button md-dialog-close type="button" class="btn btn-secondary" data-dismiss="modal"
          (click)="dialogRef.close()">Отмена
  </button>
  <button md-button (click)="dialogRef.close(data)" type="button" class="btn btn-primary"
          data-dismiss="modal">Создать
  </button>
</div>
