.notation {
  vertical-align: top;
  font-size:18px;
  overflow-y: scroll;
}
.notation-stroke{
  margin-top: 4px;
}
.notation-link {
  text-decoration: underline;
  border-radius: 4px;
  margin-right: 8px;
}
.cursor {
  background-color: orange;
}
.white-turn {
  background-color: floralwhite;
  color: black;
  padding: 0 4px;
  border-radius: 4px;
}
.black-turn {
  background-color: black;
  color: white;
  padding: 0 4px;
  border-radius: 4px;
}
