<md-toolbar>
  <button md-raised-button (click)="handleOpenCreateArticle()" *ngIf="edit">
    <md-icon>add</md-icon>
  </button>
  <md-button-toggle-group [disabled]="!createMode"
                          #boardModes="mdButtonToggleGroup"
                          *ngIf="edit"
                          (change)="toggleMode($event.value)"
  >
    <md-button-toggle value="write" [checked]="mode == 'write'">
      <md-icon>
        text_format
      </md-icon>
    </md-button-toggle>
    <md-button-toggle value="place" [checked]="mode == 'place'">
      <md-icon>
        create
      </md-icon>
    </md-button-toggle>
  </md-button-toggle-group>
  <button md-raised-button value="write" (click)="handleUndo()" [disabled]="!createMode">
    <md-icon aria-label="Отмена">undo</md-icon>
  </button>
  <button md-raised-button value="place" (click)="handleRedo()" [disabled]="!createMode">
    <md-icon>redo</md-icon>
  </button>
  <button md-raised-button (click)="handleMakeWhiteStroke()" [disabled]="!createMode" title="Поменять последовательность ходов">
    <md-icon>swap_horiz</md-icon>
  </button>
  <md-toolbar-row *ngIf="mode == 'place' && edit">
    <bc-place-draught-row></bc-place-draught-row>
  </md-toolbar-row>
</md-toolbar>
