.board-toolbar{
  margin-bottom: 20px;
  width: 100%;
}

#draughtsToAdd {
  margin-right: 8px;
}

#linkOnPosition {
  padding-left: 8px;
  border-left: 1px solid lightgray;
}

#undoMove {
  margin-left: 8px;
}

#redoMove {
  margin-right: 8px;
}

#toggleEdit{
  margin-left: 8px;
}

.remove-draught-container {
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove-draught {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  width: 38px;
  height: 38px;
  opacity: 0.3;
  border: 1px solid darkred;
  background-color: red;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.remove-draught:hover {
  opacity: 1;
}
.remove-draught:before, .remove-draught:after {
  display: inline-block;
  content: ' ';
  height: 33px;
  width: 1px;
  background-color: white;
}
.remove-draught:before {
  transform: rotate(45deg);
}
.remove-draught:after {
  transform: rotate(-45deg);
}

.selected-remove {
  opacity: 1;
}
