/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none;
  overflow: auto;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
  /*width: -moz-calc(100% - 64px);*/
  /*width: -webkit-calc(100% - 64px);*/
  /*width: calc(100% - 64px);*/
}

.full-height {
  height: 100vh;
  /*height: -moz-calc(100% - 64px);*/
  /*height: -webkit-calc(100% - 64px);*/
  /*height: calc(100% - 64px);*/
}
