<!--<div id="createArticle" class="modal fade">-->
  <!--<div class="modal-dialog" role="document">-->
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Создать статью</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <input [(ngModel)]="title" placeholder="Название статьи" class="form-control">
          </div>
        </div>
        <div class="row">
          <label for="color" class="col-4">Цвет</label>
          <div class="col-8">
            <select id="color" [(ngModel)]="black" name="black" title="Цвет" class="form-control">
              <option [ngValue]="false" [selected]="true">Белые</option>
              <option [ngValue]="true">Черные</option>
            </select>
          </div>
        </div>
        <div class="row">
          <label for="rules" class="col-4">Правила</label>
          <div class="col-8">
            <select id="rules" [(ngModel)]="rules" name="rules" title="Правила" class="form-control">
              <option [ngValue]="Rules.RUSSIAN" [selected]="Rules.RUSSIAN">Русские шашки</option>
              <option [ngValue]="Rules.RUSSIAN_GIVEAWAY">Русские шашки (поддавки)</option>
              <option [ngValue]="Rules.INTERNATIONAL">Интернациональные шашки</option>
              <option [ngValue]="Rules.INTERNATIONAL_GIVEAWAY">Интернациональные шашки (поддавки)</option>
            </select>
          </div>
        </div>
        <div class="row">
          <label for="fillBoard" class="col-4">Расставить с начала</label>
          <div id="fillBoard" class="col-8">
            <input type="checkbox" [(ngModel)]="fillBoard" name="fillBoard" class="form-control">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="bsModalRef.hide()">Отмена</button>
        <button (click)="onNewArticle()" type="button" class="btn btn-primary" data-dismiss="modal">Создать</button>
      </div>
    </div>
  <!--</div>-->
<!--</div>-->
